/* main page for Desktop*/

/*Just a note that although there are media queries in this css, this is only for if the desktop window is resized*/
* {
	font-family: Tahoma, sans-serif;
}

html, body {
    padding:0;
    margin:0;
}
html, body {margin: 0; height: 100%;}

p{
	font-size: 1em;
}
h1, h2 {
	font-size: 2em;
}

/*circular logo*/

#logo{
	position: fixed;
	top: 20px;
	left: 20px;
}

#logo img{
	height: 3em;
	border-radius: 50%;
}

/* navigation bar */

.nav_bar{
	border: 1px solid red;
	overflow: hidden;
	padding-right: 3em;
}

.nav_bar ul{
	border: 1px solid blue;
	overflow: hidden;
	position: relative;
}

.nav_bar li{
	border: 1px solid green;
	font-size: 1em;
	margin-right: 2em;
	float: right;
	list-style-type: none;
}

.nav_bar li a {
	color: red;
	text-decoration: none;
}

/* main content */

.main_content > *{
	border: 1px solid green;
}

.main_content{
	border: 1px solid yellow;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;

	padding: 5em 15em;

}

.half{
	max-width: 40%;
}

@media only screen and (max-width: 1300px){
	.main_content {
		padding: 2em 7em;
	}
}

@media only screen and (max-width: 900px){
	.half {
		max-width: 100%;
	}
	.full{
		max-width: 100%;
	}

	.main_content{
		padding:  10px;
	}

	#logo{
		visibility: hidden;
	}
}

/*collage*/

.collage{
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
	flex-direction: row;

	justify-content: space-evenly;

	padding: 1em;

}

.collage img{
	/* will want to change this depending on screen size, but I'm writing for desktop only right now*/
	max-width: 30%;
	max-height: 30vw;
	align-self: center;
	margin: 5px;
}



@media only screen and (max-width: 800px){
	.collage img{
		max-width: 40%;
	}
}

@media only screen and (max-width: 600px){
	.collage img{
		max-width: 100%;
		max-height: 50vw;
	}
}

/* footer */

.footer{
	border: 1px solid green;
}

/*header with moving background depending on mouse!*/

#header{
	border: 20px solid whitesmoke;
	/*put text in the horizontal middle*/
	display: flex;
	justify-content: center;
	/*make edges of img hidden*/
	overflow: hidden;
	height: 60vw;
}

#header h1{
	/*put text in the vertical middle*/
	position: absolute;
	align-self: center;

	font-size: 5vw;
	color: #fff;
}

#header img{
	min-height: 100%;
	max-width: 150%;
	align-self: center;
	width: auto;
	height: auto;
	position: relative;
	z-index: -1;
	top: 0;
	left: 0;
}












