/* main page */
* {
	font-family: Tahoma, sans-serif;
}

html, body {margin: 0; height: 100%; overflow: hidden;}

p{
	font-size: 1em;
}
h1, h2 {
	font-size: 2em;
}

/*mobile overlay*/

#mobile_overlay{
	visibility: hidden;
	
	position: absolute;
	left: 0px;
	top: 0px;

	height: 100%;
	width: 100%;

	background-color: powderblue;
}

#mobile_overlay h1, #mobile_overlay p{
	margin: 10vw;
}

/* navigation bar */
.nav_bar{
	border: 1px solid red;
	overflow: hidden;
	padding-right: 3em;
}

.nav_bar ul{
	border: 1px solid blue;
	overflow: hidden;
}

.nav_bar li{
	border: 1px solid green;
	font-size: 3vw;
	margin-right: 2em;
	float: right;
	list-style-type: none;
}

.nav_bar li a {
	color: red;
	text-decoration: none;
}

/* in case of iPhone*/
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
	#mobile_overlay {
		visibility: visible;
	}
	p{
		font-size: 3vw;
	}
	h1, h2 {
		font-size: 4vw;
	}

 }

